@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Fonts*/
@font-face {
  font-family: "EF_hyunygothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunygothic.woff2")
    format("woff2");
}

/* html, body, heading */
@layer base {
  body {
    @apply m-0 p-0 box-border font-body;
  }
  h1 {
    @apply text-4xl drop-shadow-md;
  }
  h2 {
    @apply text-2xl drop-shadow-md;
  }
  textarea {
    @apply focus:outline-none;
  }
  form {
    @apply flex flex-col justify-center items-center;
  }
}

/* custom classNames */
@layer components {
  .wrapper {
    @apply relative w-full text-center;
  }
  .circle {
    @apply rounded-full flex flex-col justify-center items-center;
  }
  .hover {
    @apply hover:shadow-lg hover:cursor-pointer transition-all;
  }
  .submitBtn {
    @apply w-full py-3 rounded-2xl hover shadow-md;
  }
  .loginBtn {
    @apply flex items-center justify-center mx-3 my-3 rounded-xl;
  }
  .inputDiv {
    @apply z-40 flex flex-col justify-center items-center w-full;
  }
  .textInput {
    @apply appearance-none w-5/6 py-4 px-3 text-lg rounded-l-xl z-40 border-2 border-black border-opacity-0 focus:border-black focus:border-opacity-0 focus:ring-0 placeholder:text-sm;
  }
}

/* remove scroll */
::-webkit-scrollbar {
  display: none;
}
